[Unit]
Description=Job Platform Agent
Documentation=https://cucloud.cn
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/remote
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutSec=0
RestartSec=2

StartLimitBurst=3

StartLimitInterval=60s

LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

KillMode=process
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target
